body {
    text-align: center;
    background-color: rgb(39, 39, 68);
    color: azure;
    font-family: "SilkScreen", monospace;
}

.game-status {
    margin: minmax(1em, 2em) auto;
    font-size: 4em;
}

/* ----- GameUI ----- */

.window {
    background-color: rgb(59, 111, 156);
    padding: 0.6em;
    padding-top: 4em;
    border-radius: 10%;
    width: 31em;
    border: 2px solid rgb(148, 176, 228);
    margin: auto;
}

.container {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(53, 53, 94);
    padding: 1em;
    border-radius: 10%;
    margin: auto;
    box-shadow: 0px 0px 10px white;
}

.game-box {
    width: 13em;
    height: 13em;
    border: 0.4em solid rgb(51, 51, 51);
    border-radius: 20%;
    margin: auto;
    transition: transform 0.1s;
}

.game-box:hover {
    box-shadow: rgb(119, 137, 202) 0px 0px 12px;
}

.bounce {
    transform: scale(0.8);
}

.green {
    background-color: rgb(77, 184, 125);
}

.red {
    background-color: crimson;
}

.yellow {
    background-color: rgb(171, 230, 55);
}

.blue {
    background-color: rgb(36, 162, 212)
}

/* ----- Footer ----- */
footer {
    position: fixed;
    bottom: 3em;
    width: 100%;
}

/* ------- Responsive ------- */
@media (max-width: 450px) {
    .game-status {
        font-size: 3em;
    }

    .window {
        width: 80%;
    }

    .container .game-box {
        width: 7em;
        height: 7em;
    }
}