body {
    text-align: center;
    background-color: rgb(39, 39, 68);
    color: azure;
    font-family: "SilkScreen", monospace;
}

.game-status {
    margin: minmax(1em, 2em) auto;
    font-size: 4em;
}

/* ----- GameUI ----- */

.window {
    background-color: rgb(59, 111, 156);
    padding: 0.6em;
    padding-top: 4em;
    border-radius: 10%;
    width: 37em;
    border: 2px solid rgb(148, 176, 228);
    margin: auto;
}

.container {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(53, 53, 94);
    padding: 1em;
    border-radius: 10%;
    margin: auto;
    box-shadow: 0px 0px 10px white;
}

.game-box {
    width: 16em;
    height: 16em;
    border: 0.4em solid rgb(51, 51, 51);
    border-radius: 20%;
    margin: auto;
    transition: transform 0.1s;
}

.shadow {
    box-shadow: rgb(119, 137, 202) 0px 0px 12px;
}

.bounce-down {
    transform: scale(0.8);
}

.bounce-up {
    transform: scale(1);
}

.green {
    background-color: rgb(77, 184, 125);
}

.red {
    background-color: crimson;
}

.yellow {
    background-color: rgb(171, 230, 55);
}

.blue {
    background-color: rgb(36, 162, 212)
}

/* ----- Footer ----- */


/* ------- Responsive ------- */
@media screen and (max-width: 450px){
    body {
        width: 200px;
    }
}